#resumeButton {
  font-size: 2vw;
  background-color: rgb(250,200,0);
  border:none;
  padding: 2vw;
  position: absolute;
  top: 43vh;
  left: 43vw;
  z-index: 1;
}
html {
  background-color: rgb(50,90,120);
}
#container {
  margin: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
#container2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
#scoreBoard {
  font-size: 2vw;
  border:none;
  padding: 1vw;
  position: absolute;
  top: 0;
  right: 5vw;
}

.moveButtons {
  font-size: 15vw;
  color: rgba(50, 50, 50, 0.2);
  background-color: rgba(200, 200, 200, 0.2);
  border: none;
  border-radius: 0.3em;
}

#fullScreenButton {
  position: fixed;
  font-size: 1vw;
  color: rgba(0,0,0, 10);
  padding: 1vw;
  bottom: 1vh;
  background-color: rgba(200, 200, 200, 0.2);
  border: none;
  border-radius: 0.3em;
}

#leftButton {
  position: absolute;
  padding: 0.1em 0.3em;
  top: 28vh;
  left: 3.6vw;
}
#rightButton {
  position: absolute;
  padding: 0.1em 0.3em;
  top: 28vh;
  right: 3.6vw;
}
#UpButton {
  position: absolute;
  padding: 0em 0.3em;
  top: 4vh;
  left: 37.6vw;
}
#DownButton {
  position: absolute;
  padding: 0em 0.3em;
  bottom: 6.3vh;
  left: 39.6vw;
}
