#resumeButton {
  background-color: rgb(250,200,0);
  border:none;
  padding: 30px;
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 1;
}
body {
  background-color: rgb(50,90,120);
}
#container {
  float: left;
}
#canvas {
  background-color: rgb(90,120,150);
}
#scoreBoard {
  border:none;
  padding: 30px;
  position: absolute;
  top: -3%;
  right: 15%;
}
.moveButtons {
  font-size: 95%;
}
